.ck-home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.ck-home-bg {
  position: absolute;
  inset: 0;

  background-image: url("/img/barbershop2.jpg");
  background-size: cover;
  background-position: center;

  transform: scale(1.05);
}

.ck-home-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .68);
}

.ck-pub-nav {
  position: relative;
  z-index: 20;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 80px;
}

.ck-pub-logo {
  font-size: 34px;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.ck-pub-logo span {
  color: #D4AF37;
}

.ck-pub-links {
  display: flex;
  gap: 35px;
}

.ck-pub-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.ck-hero {
  position: relative;
  z-index: 10;

  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: white;
}

.ck-hero-tag {
  color: #D4AF37;
  letter-spacing: 5px;
  font-size: 14px;
  margin-bottom: 25px;
}

.ck-hero-title {
  font-size: 82px;
  font-weight: 900;
  line-height: 1.05;
}

.ck-hero-title span {
  color: #D4AF37;
}

.ck-hero-desc {
  width: 700px;
  max-width: 90%;
  margin: 30px 0;
  color: #d8d8d8;
  line-height: 1.8;
  font-size: 18px;
}

.ck-hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-outline {
  border: 2px solid #D4AF37;
  color: #D4AF37;
  padding: 14px 34px;
  border-radius: 8px;
  text-decoration: none;
}

.ck-hero-stats {
  margin-top: 90px;

  display: flex;
  gap: 90px;
}

.ck-hero-stats h2 {
  font-size: 38px;
  color: #D4AF37;
}

.ck-hero-stats span {
  color: #ddd;
}